<div class="container">

<div class="panel panel-primary">
  <div class="panel-heading">
  New Loan Application
  </div>
  <div class="panel-body">
  <%= render 'form', loan: @loan %>
  </div>
 
</div>
<%= link_to 'Back', loans_path %>
</div>

