<header>
<div class="header-content">
    <div class="header-content-inner">
        <h1>Your Up and Coming PayDay Loan Company!</h1>
        <hr>
        <p>A payday loan is a short-term loan, usually for a month! They're designed to be repaid when you receive your next monthly wage.</p>
        <p>Apply below for up to £250 loan.</p>
        <%= link_to 'Apply Online', new_loan_path(@loan), class: "btn btn-primary btn-xl" %>
       
    </div>
</div>
</header>